.header nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.header nav a:hover{
    color: aqua;
}
.header{
    border: 2px solid salmon;
    padding: 20px;
    background-color: darkgrey;
}